body{
    text-align: center;
    margin: 0px;
}
hr{
    border:none;
    border-top:dotted 6px;
    width:50px;
    color: grey;
}
.navbar{
    background-color: #EAF6F6;
    margin:0;
    position: fixed;
    margin:0;
    width:100%;
    padding: 25px;
}
.top-container{
    background-color: #EAF6F6;
    padding-top: 8vh;
}
h1{
    margin:50px auto 0px auto;
    font-size: 90px;
    font-family: 'Dancing Script', cursive; 
}
h1,h2{
    color: #66BFBF;
}
h2,h3{
    font-family: 'Montserat',sans-serif;
}
.top-cloud{
    position: absolute;
    right:20%;
}
.bottom-cloud{
    position: absolute;
    left:15%;
}
a,h3{
    color:#11999E;
}
.skill-row{
    margin: 100px auto;
    width:50%;
    text-align: left;
}
.chess,.programmer{
    width:170px;
    height:170px;
    float: left;
}
.chess{
    float:right;
}
.contact-me{
    line-height: 50px;
    margin-bottom: 50px;
}
.bottom-container{
    background-color: #66BFBF;
    line-height: 40px;
    padding:15px;
}
.btn{
    color: rgb(255, 255, 255);
font-size: 20px;
padding: 10px;
text-shadow: 0px 1px 0px rgba(30, 30, 30, 0);
-webkit-border-radius: 39px;
-moz-border-radius: 39px;
border-radius: 39px;
background: rgb(0, 0, 0);
background: -moz-linear-gradient(91deg, rgb(18, 195, 214) 0%, rgb(63, 231, 231) 77%);
background: -webkit-linear-gradient(91deg, rgb(20, 179, 197) 0%, rgb(84, 243, 243) 77%);
background: -o-linear-gradient(91deg, rgb(28, 232, 255) 0%, rgb(86, 233, 233) 77%);
background: -ms-linear-gradient(91deg, rgb(28, 232, 255) 0%, rgb(80, 248, 248) 77%);
background: linear-gradient(1deg, rgb(28, 232, 255) 0%, rgb(84, 248, 248) 77%);
-webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0);
-moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0);
box-shadow:         0px 2px 1px rgba(50, 50, 50, 0);
text-decoration: none;
}
.footer-link{
    text-decoration:none;
    color: rgb(12, 83, 131);
    margin:0 25px 0 25px;
}
.footer-link1:hover{
    text-decoration:none;
    color: rgb(12, 83, 131);
    margin:0 25px 0 25px;
}
.footer-link1{
    visibility: none;
    margin:0 25px  25px;
    text-decoration:none;
    
}


        